<!-- <div class="container">
    <div class="row p-5 ">
        <div class="col-sm ml-3" class="card" style="width: 18rem;">
            <img src="https://www.artic.edu/iiif/2/{{viewItem.image_id}}/full/843,/0/default.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{viewItem.title}}</h4>
                <strong><p class="card-text">{{viewItem.artist_title}}</p></strong>
                <p class="card-text">{{viewItem.publication_history}}</p>
            </div>
        </div>
    </div>
</div> -->


<div class="viewContent">
        <div class="viewCard">
            <img src="https://www.artic.edu/iiif/2/{{viewItem.image_id}}/full/843,/0/default.jpg" class="card-img-top" alt="...">
            <div >
                <h4 style="margin-left: 32vw; margin-top: 2vw;">{{viewItem.title}}</h4>
                <strong><p style="margin-left: 32vw; margin-top: 1vw;">{{viewItem.artist_title}}</p></strong>
                <p >{{viewItem.publication_history}}</p>
            </div>
        </div>
</div>
